@model Invco.Models.AssetViewModel

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "_LayoutPage2";
    }
    else
    {
        Layout = "_Layout"; // Default general layout
    }
}

<body>


    <div class="container w-50 mt-4">
        <div class="card singlecard  shadow-lg p-4">
            <h4 class="text-center ass mb-4">
                <i class="fas fa-box"></i> Asset Details
            </h4>
            <dl class="row  ">

                <dt class="col-sm-3 fw-bold"><i class="fas fa-id-badge"></i> ID</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-3 fw-bold"><i class="fas fa-tag"></i> Asset Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.AssetName)</dd>

                <dt class="col-sm-3 fw-bold"><i class="fas fa-user"></i> Asset User</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.AssetUser)</dd>

                <dt class="col-sm-3 fw-bold"><i class="fas fa-calendar-alt"></i> Purchase Date</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Purchasedate)</dd>

                <dt class="col-sm-3 fw-bold"><i class="fas fa-list"></i> Category</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CategoryName)</dd>

                <dt class="col-sm-3 fw-bold"><i class="fas fa-barcode"></i> Serial Number</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SerialNumber)</dd>

                <dt class="col-sm-3 fw-bold"><i class="fas fa-building"></i> Department</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DepartmentName)</dd>

            </dl>
        </div>

        <div class="mt-4 text-center">
            <a asp-action="UpdateAssetViewModel" asp-route-id="@Model.Id" class="btn btn-primary">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a asp-action="GetAllAssets" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</body>

